.button_answer{
    display: flex;
    width: clamp(50px, 25%, 100px);
    padding: 5% 10%;
    border-radius: 10px;
    border: 2px solid black;
    justify-content: center;
    font-family: "Roboto_regular";
    font-size: 100%;
    font-weight: 500;
}
.button_answer:hover{
    background-color: $color_primary;
    color:azure;
    border: 2px solid $color_primary;
    cursor: pointer;
}
@media only screen and (max-width:900px) and (min-width: 500px){
    .button_answer{
        width: 40%;
        padding: 5%;
        border-radius: 15px;
        justify-content: center;
    } 
}