.container{
    position: relative;
}
.modal{
    position: absolute;
    padding: 3%;
    top:3%;
    left:30%;
    width: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color_second;
    font-family: "Roboto_italic";
    font-size: 125%;
    color:azure;
    p{
      width:55%;
      span{
        margin: 40%;
      }
    }
    ul{
      .menu_item{
        list-style-type: none;
        margin-top: 5%;
      }
      .winners_item{
        list-style-type: none;
        margin-top: 5%;
      }
    }
  .button_new-game{
    display: flex;
    width: 15%;
    padding: 2%;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    background-color: azure;
    color:$color_second;
  }
  .button_new-game:hover{
    cursor: pointer;
  }
}

@media only screen and (max-width:900px) and (min-width: 700px)  {
    .modal{
        left:15vw;
        top:15%;
    }
}
@media only screen and (max-width:699px) and (min-width: 600px) {
  .modal{
    left:5vw;
    top:15%;
}
}
@media only screen and (max-width:599px) and (min-width: 500px){
.modal{
  left:0;
  top:15%;
}
}