.theme{
    width: 100%;
    margin-top: 15%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}
.switch:hover{
    cursor: pointer;
}


@media only screen and (max-width:900px) and (min-width: 500px){
    .theme{
        margin: 0 3%;
    .switch{
        height: 1.2em;
        border-radius: 15px;
        &-circle{
            width: 1.1em;
            height: 1.1em;
            border-radius: 15px;
        }
    }
}
}