$color_primary: rgb(126, 251, 251);
$color_body:#E0E0E0;
$color_second:rgb(117, 129, 129);

@font-face {
    font-family: "Roboto_regular";
    src: url("./../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto_italic";
    src: url("./../assets/fonts/Roboto-Italic.ttf");
}
